*{
    margin: 0px;
    padding: 0px;
    box-sizing: b;
}

body{
    background-color: #1b1b1b;
    /* Deixando centralizado */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 20px;
    /* border: 1px solid black; */
    background-color: #333333;
    color: #ffffff;
    /* width: 80%; */
    /* padding: 20px; */
}
main h1.titulo{
    /* border: 1px solid red; */
    margin-bottom: 15px;
}
/* Section 1 */
main section.form-text{
    display: flex;
    margin: 10px 0px;
}

main section form input#cidade_digitada{
    width: 200px;
    padding: 3px 2px;
}
main section form button#btn_pesquisar_cidade{
    background-color: #1180db;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 4px 3px;
}
/* Section 2 */
main section.infor-cidade{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
main section div p.cidade{
    margin: 10px 0px;
    font-size: 17px;

}
main section div h2.temp{
    
    margin-top: 10px;
}
main section div.img{
    justify-content: center;
    align-items: center;
}
main section div p.img_descricao{

    /* border: 1px solid blue; */
    text-align: center;
    margin-top: 10px;
}
