
*{
    margin: 0; 
    padding: 0; 
}
body {
    background-image: url('../imagens/tema-principal.jpg'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh; /* Garante que o body tenha a altura total da viewport */
    width: 100vw; /* Garante que o body tenha a largura total da viewport */
    display: flex; /* Usar flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

main{
    padding: 20px;
    background-color: #333333c5;
    color: #ffffff;

}
main h1.titulo{

    margin-bottom: 15px;
}

/* Section 1 */
main section.form-text{
    display: flex;
    margin: 10px 0px;
}

main section form input#cidade_digitada{
    width: 200px;
    padding: 3px 2px;
}
main section form button#btn_pesquisar_cidade{
    background-color: #1180db;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 4px 3px;
}

/* Section 2 */
main section.infor-cidade{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
main section div p.cidade{
    margin: 10px 0px;
    font-size: 17px;

}
main section div h2.temp{
    margin-top: 20px;
}
main section div.img{
    justify-content: center;
    align-items: center;
}
main section div p.img_descricao{

    text-align: center;
    margin-top: 10px;
}
